.top-menu {
  /* Add a dark background color with a little bit see-through */
  .navbar {
      margin-bottom: 0 !important;
      background-color: #2d2d30 !important;
      border-radius: 0;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity:0.7;

      > .container {
        padding-top: 0;
        padding-bottom: 0;
      }
  }

  /* Add a gray color to all navbar links */
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }

  /* On hover, the links will turn white */
  .navbar-nav li a:hover {
      color: #fff !important;
  }

  /* The active link */
  .navbar-nav li.active a {
      color: #fff !important;
      background-color:#29292c !important;
  }

  /* Remove border color from the collapsible button */
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
}
